{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-7 mt-5 mx-auto">

            <h5>Error 404</h5>

            <p>
                We couldn't find the page you requested.
            </p>

            <p>
                Check out any misspelling in the URL or <a href="/">go back to the homepage</a>.
            </p>

        </div>
    </div>

{% endblock %}