{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-7 mt-5 mx-auto">

            <h5>Error 500</h5>

            <p>
                There was an internal server error.
            </p>

            <p>
                Try loading this page again in some minutes or <a href="/">go back to the homepage</a>.
            </p>
            
        </div>
    </div>

{% endblock %}