{% extends 'base.html.twig' %}

{% block title '编辑回复"' ~ comment.topic.title ~ '"' %}

{% block main %}

    <div class="section">
        <h5 class="section-header">编辑回复</h5>

        {{ form_start(form, { 'attr': {'novalidate': 'novalidate'} }) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">保存</button>
        {{ form_end(form) }}

        <div class="py-2">
            或 <a href="{{ path('group_topic_show', {'id': comment.topic.id}) }}">取消编辑</a>
        </div>
    </div>

{% endblock %}