{% extends 'base.html.twig' %}

{% block title '回复"' ~ topic.title ~ '"' %}

{% block main %}

    <h5 class="page-header-text mb-4">回复主题</h5>

    {{ include('GroupBundle:Comment:new_form.html.twig') }}

{% endblock %}