{% extends '::base.html.twig' %}

{% block title '注册' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">

            <div class="section">
                <h5 class="section-header">欢迎加入长沙之家</h5>

                <div class="row">
                    <div class="col-lg-4">

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_widget(form) }}

                        <button type="submit" class="btn btn-primary">注册</button>
                        {{ form_end(form) }}

                        <div class="py-2 text-muted">
                            已经注册？<a href="{{ path('security_login') }}">立即登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}