<div class="sidebar-block sidebar-group-listings">
    <h5 class="sidebar-block-title">推荐小组</h5>

    <div class="sidebar-group-list">
        {% for group in groups %}
            <a class="group-pill" href="{{ path('group_show', {'slug': group.slug}) }}">{{ group.name }}</a>
        {% endfor %}
    </div>
</div>