<div class="section">
    <h5 class="section-header">推荐小组</h5>
    <div class="group-list">
        {% for group in groups %}
            <a class="btn btn-outline-primary btn-sm" href="{{ path('group_show', {'slug': group.slug}) }}">{{ group.name }}</a>
        {% endfor %}
    </div>
</div>