{% extends '::base.html.twig' %}

{% block title '编辑"' ~ topic.title ~ '"' %}

{% block main %}

    <div class="section">

        <h5 class="section-header">编辑主题</h5>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <div class="form-group text-right">
            <a href="{{ path('group_topic_show', {'id': topic.id}) }}" class="text-muted mr-2">取消编辑</a>
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}