{% extends '::base.html.twig' %}

{% block title user.username %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active">基本资料</a>
        </li>
    </ul>

    <div class="w-25 my-4">
        <div class="row py-2">
            <div class="col-5">用户名</div>
            <div class="col-7">{{ user.username }}</div>
        </div>

        <div class="row py-2">
            <div class="col-5">昵称</div>
            <div class="col-7">{{ user.name | default('未设置') }}</div>
        </div>

        <div class="row py-2">
            <div class="col-5">主题</div>
            <div class="col-7">{{ user.numTopics }}</div>
        </div>

        <div class="row py-2">
            <div class="col-5">回复</div>
            <div class="col-7">{{ user.numComments }}</div>
        </div>
    </div>
{% endblock %}