{% extends '::base.html.twig' %}

{% block title '修改密码' %}

{% block main %}

    <div class="section w-50">
        <h5 class="section-header">修改密码</h5>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">保存密码</button>
        {{ form_end(form) }}

        <div class="py-2">
            或 <a href="{{ path('account_index') }}">返回</a>
        </div>
    </div>
{% endblock %}