{% extends '::base.html.twig' %}

{% block title '我的账号' %}

{% block main %}

    <div class="section">
        <h5 class="section-header">我的账号</h5>

        <div class="row py-2">
            <div class="col-4">用户名</div>
            <div class="col-8">{{ user.username }}</div>
        </div>

        <div class="row py-2">
            <div class="col-4">昵称</div>
            <div class="col-8">{{ user.name | default('未设置') }}</div>
        </div>

        <div class="row py-2">
            <div class="col-4">登录密码</div>
            <div class="col-8"><a href="{{ path('account_edit_password') }}">修改密码</a></div>
        </div>
    </div>

{% endblock %}